* {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: content-box;
    background-image: url("src/nathan-dumlao-pnmRtTHWqDM-unsplash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

main {
    display: block;
    max-width: 35%;
    margin: 0 auto;
    text-align: center;
    background-color: #824d40;
    border-radius: 25px;
    padding: 60px 0;
    position: relative;
}

svg {
    background-color: #cfc7bf;
    position: absolute;
    left: 1rem;
    padding: 0.75rem;
    bottom: 1rem;
    border-radius: 50%;
}

svg:hover {
    padding: 1.25rem;
}

.container {
    background-color: #bf9268;
    width: 80%;
}

.numbers {
    display: block;
    max-width: 600px;
    max-height: fit-content;
    border-radius: 25px;
    margin: 20px auto;
}

.lines {
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    padding: 15px 0;
}

button {
    background-color: #cfc7bf;
    border: 5px solid #bf9268;
    font-weight: bold;
    font-size: larger;
    line-height: 2.375rem;
}

button:hover {
    border: none;
}

.num {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.start {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    margin: 20px;
}

.start:hover {
    background-color: #bf9268;
    border: 10px solid #824d40;
    color: #824d40;
    width: 200px;
}


/* styling for the stripes in the middle of the app */

.line {
    display: block;
    margin: 15px auto;
    background-color: #cfc7bf;
    height: 15px;
    border-radius: 25px;
}

.red {
    background-color: red !important;
}

.coloured {
    background-color: black !important;
}

.last {
    width: 70%;
}

.six {
    width: 62.5%;
}

.five {
    width: 55%;
}

.four {
    width: 47.5%;
}

.three {
    width: 40%;
}

.two {
    width: 32.5%;
}

.first {
    width: 25%;
}

.coffee {
    display: none;
}


/* settings for smaller screens */

@media only screen and (max-width: 650px) {
    #container {
        display: block;
        height: auto;
    }
    body {
        margin: 0%;
    }
    main {
        max-width: 100%;
        margin: 0;
        border-radius: 0%;
        height: 95vh;
        padding-top: 5rem;
    }
    svg {
        left: 1rem;
        top: 4rem;
    }
    .numbers {
        margin-top: 3rem;
    }
    .coffee {
        display: inline-block;
        width: auto;
        height: 3.5rem;
        position: absolute;
        right: 1rem;
        top: 4rem;
    }
}


@media screen and (display-mode: standalone) {
    .container {
        overflow-y: hidden;
    }
}